body {
	background: #ffcbcb; 
  font-family: sans-serif;
  color: teal;
}

img {
  width: 62px;
  height: 50px;
  margin: 0;
}

h1 {
  text-align: center;
  position: relative;
  bottom: 10px;
  color: teal;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  border-radius: 4px;
  display: block;
  font-size: 18px;
  padding: 5px;
  width: 100%;
  color: teal;
}
 
a {
  color: teal;
  text-decoration: none;
}

.container {
  margin: 60px auto;
  max-width: 500px;
  background: white;  
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}

.header {
  display: flex;
  justify-content: center;
}

.city{
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0 ;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border-bottom: none;
}

.date {
  font-size: 14px;
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 14px;
  bottom: 52px;
  position: relative;
  color: teal;
}